@import "variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../img/fondo.jpg);
	font-family: 'Fjalla One', sans-serif;
	background-size: 100%;
	text-align: center;
}

h1{

		font-family: 'Ms Madi', cursiva;
}
main {
	padding: 20px;

	p {
		
		font-size: 20px;
		font-family: 'Ms Madi', cursiva;
		
		
	}
}



h4 {
	font-family: 'Ms Madi', cursiva;
	font-size: 25px;
	border: outset;
	border-bottom: solid 5px #b1f0b1;
	text-align: center;
	text-transform: capitalize;
}

pre {
	font-family: 'Ms Madi', cursiva;
	font-size: 20px;

}
.contenedor {
	font-family: 'Ms Madi', cursiva;
	font-size: 20px;
	display: grid;
	-ms-grid-columns: 47% 47%;
		grid-template-columns: 47% 47%;
 justify-content: center;
	gap: 1rem;

	#quienes__somos{
		display: -ms-inline-grid;
		-ms-grid-template-column: 90% ;
		width: 300px;
		border: 3px solid $color-primario;
		
	}
  }
  
  #carouselExampleInterval{
	width: 450px;
	overflow: hidden;
	margin-top: 4rem;
	border: 8px solid $color-primario;
	border-radius: 5%;}


.contenedor__map {
	margin-top: 2rem;
}

.col {
	.card {
		background-color: #6f9b9b;

		.card-body {
			font-family: fantasy;
		}

	}
}

@media screen and (max-width:767px) {
	.col {

		.card {
			background-color: rgb(115, 217, 243);
			width: 150px;
			margin-left: 150px;

		}

	}
}


.share-button {
	width: 280px;
	height: 80px;
	background: black;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
	overflow: hidden;
	position: absolute;
	cursor: pointer;
	transition: .3s linear;

	span {
		position: absolute;
		width: 100%;
		height: 100%;
		background: $color-primario;
		color: #f1f1f1;
		text-align: center;
		line-height: 80px;
		z-index: 999;
		transition: .6s linear;
		border-radius: 40px;
	}

	&:hover {
		span {
			transform: translateX(-100%);
			transition-delay: .3s;
		}

		a {
			opacity: 1;
			transform: translateX(0);
		}
	}

	a {
		flex: 1;
		font-size: 26px;
		margin-right: 20px;
		color: $color-primario;
		text-align: center;
		transform: translateX(-100%);
		opacity: 0;
		transition: .3s linear;

		&:nth-of-type(1) {
			transition-delay: 1s;
		}

		&:nth-of-type(2) {
			transition-delay: .8s;
		}

		&:nth-of-type(3) {
			transition-delay: .6s;
		}

		&:nth-of-type(4) {
			transition-delay: .4s;
		}

	}
}
